<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div>
    <h3 th:if="${error}" th:text="${error}"></h3>
</div>
<div class="container">
    <form class="form login-form" id="loginForm" th:method="POST" th:action="${'/login'}">
        <h2>Login</h2>
        <div class="form-group">
            <input type="email" id="email" name="email" required>
            <label for="email">Email</label>
        </div>
        <div class="form-group">
            <input type="password" id="password" name="password" required>
            <label for="password">Password</label>
        </div>
<!--        OTP SEKCIJA INICIJALNO SOKRIENA-->
        <div id="otp-section" th:if="${otpRequired}">
            <div class="form-group">
                <input type="text" id="otp" name="otp" placeholder="Enter OTP">
                <label for="otp">OTP</label>
            </div>
        </div>
        <button type="submit" class="btn" id="loginButton">Login</button>
        <p class="form-footer">
            Don't have an account? <a th:href="${'/register'}">Register</a>
        </p>
    </form>
</div>
</body>
</html>